### ~ Docker ~ ###
**/.dockerignore
**/Dockerfile

### ~ Git ~ ###
**/.git*

### ~ Helm ~ ###
**/chart

### ~ Make ~ ###
**/Makefile
**/Taskfile

# secrets
**/.env

# dirs
migrations